/*2cc97d-9db2b8:2cc97d-9db2b8-ffffff-4c5258-3b4045-ffffff-4c5258-ffffff-ffffff-092a1a-2cc97d-ffffff-4c5258-3b4045-ffffff-4c5258-ffffff-ffffff*/
.radius-style5-c2cc97d .pt-back,
.radius-style5 .radius-style5-c2cc97d .pt-back {
  background-color: #9db2b8;
}
.radius-style5-c2cc97d .pt-title,
.radius-style5 .radius-style5-c2cc97d .pt-title {
  color: #fff;
  background-color: #4c5258;
}
.radius-style5-c2cc97d .pt-price,
.radius-style5 .radius-style5-c2cc97d .pt-price {
  color: #ffffff;
}
.radius-style5-c2cc97d .pt-btn,
.radius-style5 .radius-style5-c2cc97d .pt-btn {
  background-color: #4c5258;
  color: #fff;
}
.radius-style5-c2cc97d .pt-btn:hover,
.radius-style5 .radius-style5-c2cc97d .pt-btn:hover,
.radius-style5-c2cc97d .pt-btn:focus,
.radius-style5 .radius-style5-c2cc97d .pt-btn:focus {
  background-color: #3b4045;
}
.radius-style5-c2cc97d .pt-list,
.radius-style5 .radius-style5-c2cc97d .pt-list {
  color: #ffffff;
}
.radius-style5-c2cc97d .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.radius-style5 .pt-cols .radius-style5-c2cc97d.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #bbc9cd;
}
.radius-style5-c2cc97d .pt-selected .pt-back,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-back,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-back {
  background-color: #2cc97d;
}
.radius-style5-c2cc97d .pt-selected .pt-title,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-title,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-title {
  color: #fff;
  background-color: #4c5258;
}
.radius-style5-c2cc97d .pt-selected .pt-price,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-price,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-price {
  color: #fff;
}
.radius-style5-c2cc97d .pt-selected .pt-list,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-list,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-list {
  color: #fff;
}
.radius-style5-c2cc97d .pt-selected .pt-btn,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-btn,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-btn {
  background-color: #4c5258;
  color: #fff;
}
.radius-style5-c2cc97d .pt-selected .pt-btn:hover,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-btn:hover,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-btn:hover,
.radius-style5-c2cc97d .pt-selected .pt-btn:focus,
.radius-style5 .radius-style5-c2cc97d .pt-selected .pt-btn:focus,
.radius-style5-c2cc97d[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.radius-style5[class*='pt-animation-'] .radius-style5-c2cc97d.pt-col .pt-block:hover .pt-btn:focus {
  background-color: #3b4045;
}
.radius-style5-c2cc97d .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.radius-style5 .pt-cols .radius-style5-c2cc97d.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-title,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-title {
  color: #fff;
  background-color: #4c5258;
}
.radius-style5-c2cc97d .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.radius-style5 .pt-cols .radius-style5-c2cc97d.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-price,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-price {
  color: #ffffff;
}
.radius-style5-c2cc97d .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.radius-style5 .pt-cols .radius-style5-c2cc97d.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-list,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-list {
  color: #ffffff;
}
.radius-style5-c2cc97d .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.radius-style5 .pt-cols .radius-style5-c2cc97d.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-btn,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-btn {
  color: #fff;
}
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-back,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-back {
  background-color: #9db2b8;
}
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-btn,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-btn {
  background-color: #4c5258;
}
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-btn:hover,
.radius-style5-c2cc97d[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.radius-style5[class*='pt-animation-']:hover .radius-style5-c2cc97d .pt-selected .pt-btn:focus {
  background-color: #3b4045;
}
