/*daff8b-34424f:daff8b-34424f-ffffff-f5a627-ed970b-ffffff-7f939a-ffffff-ffffff-233300-daff8b-ffffff-f5a627-ed970b-ffffff-78b100-292f34-34424f*/
.radius-style5-cdaff8b .pt-back,
.radius-style5 .radius-style5-cdaff8b .pt-back {
  background-color: #34424f;
}
.radius-style5-cdaff8b .pt-title,
.radius-style5 .radius-style5-cdaff8b .pt-title {
  color: #fff;
  background-color: #7f939a;
}
.radius-style5-cdaff8b .pt-price,
.radius-style5 .radius-style5-cdaff8b .pt-price {
  color: #ffffff;
}
.radius-style5-cdaff8b .pt-btn,
.radius-style5 .radius-style5-cdaff8b .pt-btn {
  background-color: #f5a627;
  color: #fff;
}
.radius-style5-cdaff8b .pt-btn:hover,
.radius-style5 .radius-style5-cdaff8b .pt-btn:hover,
.radius-style5-cdaff8b .pt-btn:focus,
.radius-style5 .radius-style5-cdaff8b .pt-btn:focus {
  background-color: #ed970b;
}
.radius-style5-cdaff8b .pt-list,
.radius-style5 .radius-style5-cdaff8b .pt-list {
  color: #ffffff;
}
.radius-style5-cdaff8b .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.radius-style5 .pt-cols .radius-style5-cdaff8b.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #485c6e;
}
.radius-style5-cdaff8b .pt-selected .pt-back,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-back,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-back {
  background-color: #daff8b;
}
.radius-style5-cdaff8b .pt-selected .pt-title,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-title,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-title {
  color: #fff;
  background-color: #78b100;
}
.radius-style5-cdaff8b .pt-selected .pt-price,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-price,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-price {
  color: #292f34;
}
.radius-style5-cdaff8b .pt-selected .pt-list,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-list,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-list {
  color: #34424f;
}
.radius-style5-cdaff8b .pt-selected .pt-btn,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-btn,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-btn {
  background-color: #f5a627;
  color: #fff;
}
.radius-style5-cdaff8b .pt-selected .pt-btn:hover,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-btn:hover,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-btn:hover,
.radius-style5-cdaff8b .pt-selected .pt-btn:focus,
.radius-style5 .radius-style5-cdaff8b .pt-selected .pt-btn:focus,
.radius-style5-cdaff8b[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.radius-style5[class*='pt-animation-'] .radius-style5-cdaff8b.pt-col .pt-block:hover .pt-btn:focus {
  background-color: #ed970b;
}
.radius-style5-cdaff8b .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.radius-style5 .pt-cols .radius-style5-cdaff8b.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-title,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-title {
  color: #fff;
  background-color: #7f939a;
}
.radius-style5-cdaff8b .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.radius-style5 .pt-cols .radius-style5-cdaff8b.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-price,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-price {
  color: #ffffff;
}
.radius-style5-cdaff8b .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.radius-style5 .pt-cols .radius-style5-cdaff8b.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-list,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-list {
  color: #ffffff;
}
.radius-style5-cdaff8b .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.radius-style5 .pt-cols .radius-style5-cdaff8b.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-btn,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-btn {
  color: #fff;
}
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-back,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-back {
  background-color: #34424f;
}
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-btn,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-btn {
  background-color: #f5a627;
}
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-btn:hover,
.radius-style5-cdaff8b[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.radius-style5[class*='pt-animation-']:hover .radius-style5-cdaff8b .pt-selected .pt-btn:focus {
  background-color: #ed970b;
}
