/*2fb837-5ed665:2fb837-ffffff-d1d1d1-2fb837-ffffff-2fb837-289c2f-ffffff-289c2f-2fb837-ffffff-2fb837-494949-2fb837-ffffff-2fb837-0a290c-f2ec21-5ed665-2fb837-2fb837-ffffff-289c2f-289c2f-ffffff-ffffff-2fb837-2fb837-4f4f4f-ffffff-2fb837-2fb837*/
.sketch-style6-c2fb837 .pt-back,
.sketch-style6 .sketch-style6-c2fb837 .pt-back {
  background-color: #fff;
  border-color: #d1d1d1;
}
.sketch-style6-c2fb837 .pt-title,
.sketch-style6 .sketch-style6-c2fb837 .pt-title {
  color: #2fb837;
  background-color: #fff;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-title:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-title:before {
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-title:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-title:after {
  border-color: #fff;
}
.sketch-style6-c2fb837 .pt-price,
.sketch-style6 .sketch-style6-c2fb837 .pt-price {
  color: #494949;
}
.sketch-style6-c2fb837 .pt-btn,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn {
  color: #2fb837;
  background-color: #fff;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-btn:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:before {
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-btn:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:after {
  border-color: #fff;
}
.sketch-style6-c2fb837 .pt-btn:hover,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:hover,
.sketch-style6-c2fb837 .pt-btn:focus,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:focus {
  color: #289c2f;
  background-color: #fff;
  border-color: #289c2f;
}
.sketch-style6-c2fb837 .pt-btn:hover:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:hover:before,
.sketch-style6-c2fb837 .pt-btn:focus:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:focus:before {
  border-color: #289c2f;
}
.sketch-style6-c2fb837 .pt-btn:hover:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:hover:after,
.sketch-style6-c2fb837 .pt-btn:focus:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-btn:focus:after {
  border-color: #fff;
}
.sketch-style6-c2fb837 .pt-list,
.sketch-style6 .sketch-style6-c2fb837 .pt-list {
  color: #2fb837;
  background-color: #fff;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-list:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-list:before {
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-list:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-list:after {
  border-color: #fff;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #ffffff;
}
.sketch-style6-c2fb837 .pt-selected .pt-back,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-back,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-back {
  background-color: #f2ec21;
  border-color: #5ed665;
}
.sketch-style6-c2fb837 .pt-selected .pt-title,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-title,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-title {
  color: #fff;
  background-color: #2fb837;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-selected .pt-title:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-title:before,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-title:before {
  border-color: #1a671f;
}
.sketch-style6-c2fb837 .pt-selected .pt-title:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-title:after,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-title:after {
  border-color: #1a671f;
}
.sketch-style6-c2fb837 .pt-selected .pt-price,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-price,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-price {
  color: #4f4f4f;
}
.sketch-style6-c2fb837 .pt-selected .pt-list,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-list,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-list {
  color: #ffffff;
  background-color: #2fb837;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-selected .pt-list:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-list:before,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-list:before {
  border-color: #1a671f;
}
.sketch-style6-c2fb837 .pt-selected .pt-list:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-list:after,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-list:after {
  border-color: #1a671f;
}
.sketch-style6-c2fb837 .pt-selected .pt-btn,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn {
  color: #fff;
  background-color: #2fb837;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-selected .pt-btn:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:before,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:before {
  border-color: #1a671f;
}
.sketch-style6-c2fb837 .pt-selected .pt-btn:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:after,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:after {
  border-color: #1a671f;
}
.sketch-style6-c2fb837 .pt-selected .pt-btn:hover,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:hover,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:hover,
.sketch-style6-c2fb837 .pt-selected .pt-btn:focus,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:focus,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:focus {
  color: #fff;
  background-color: #289c2f;
  border-color: #289c2f;
}
.sketch-style6-c2fb837 .pt-selected .pt-btn:hover:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:hover:before,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:hover:before,
.sketch-style6-c2fb837 .pt-selected .pt-btn:focus:before,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:focus:before,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:focus:before {
  border-color: #134b17;
}
.sketch-style6-c2fb837 .pt-selected .pt-btn:hover:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:hover:after,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:hover:after,
.sketch-style6-c2fb837 .pt-selected .pt-btn:focus:after,
.sketch-style6 .sketch-style6-c2fb837 .pt-selected .pt-btn:focus:after,
.sketch-style6-c2fb837[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c2fb837.pt-col .pt-block:hover .pt-btn:focus:after {
  border-color: #134b17;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-back,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-back {
  border-color: #d1d1d1;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-title,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-title {
  color: #2fb837;
  background-color: #fff;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:before,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:before,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-title:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-title:before {
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:after,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:after,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-title:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-title:after {
  border-color: #fff;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-price,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-price {
  color: #494949;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-list,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-list {
  color: #2fb837;
  background-color: #fff;
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:before,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:before,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-list:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-list:before {
  border-color: #2fb837;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:after,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:after,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-list:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-list:after {
  border-color: #fff;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn {
  background-color: #fff;
}
.sketch-style6-c2fb837 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:after,
.sketch-style6 .pt-cols .sketch-style6-c2fb837.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:after,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:after {
  border-color: #fff;
}
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-back,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-back {
  background-color: #fff;
}
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn {
  color: #2fb837;
  border-color: #2fb837;
}
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:before {
  border-color: #2fb837;
}
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:hover,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:focus {
  color: #289c2f;
  background-color: #fff;
  border-color: #289c2f;
}
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:hover:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:hover:before,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:focus:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:focus:before {
  border-color: #289c2f;
}
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:hover:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:hover:after,
.sketch-style6-c2fb837[class*='pt-animation-']:hover .pt-selected .pt-btn:focus:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c2fb837 .pt-selected .pt-btn:focus:after {
  border-color: #fff;
}
