/*585858-7e7e7e:585858-ffffff-d1d1d1-585858-ffffff-585858-464646-a11445-ffffff-585858-ffffff-585858-585858-585858-ffffff-585858-1a1a1a-ffffff-7e7e7e-585858-a11445-ffffff-a11445-ffffff-a11445-ffffff-a11445-585858-7e7e7e-ffffff-a11445-585858*/
.sketch-style6-c585858 .pt-back,
.sketch-style6 .sketch-style6-c585858 .pt-back {
  background-color: #fff;
  border-color: #d1d1d1;
}
.sketch-style6-c585858 .pt-title,
.sketch-style6 .sketch-style6-c585858 .pt-title {
  color: #585858;
  background-color: #fff;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-title:before,
.sketch-style6 .sketch-style6-c585858 .pt-title:before {
  border-color: #585858;
}
.sketch-style6-c585858 .pt-title:after,
.sketch-style6 .sketch-style6-c585858 .pt-title:after {
  border-color: #fff;
}
.sketch-style6-c585858 .pt-price,
.sketch-style6 .sketch-style6-c585858 .pt-price {
  color: #585858;
}
.sketch-style6-c585858 .pt-btn,
.sketch-style6 .sketch-style6-c585858 .pt-btn {
  color: #585858;
  background-color: #fff;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-btn:before,
.sketch-style6 .sketch-style6-c585858 .pt-btn:before {
  border-color: #585858;
}
.sketch-style6-c585858 .pt-btn:after,
.sketch-style6 .sketch-style6-c585858 .pt-btn:after {
  border-color: #fff;
}
.sketch-style6-c585858 .pt-btn:hover,
.sketch-style6 .sketch-style6-c585858 .pt-btn:hover,
.sketch-style6-c585858 .pt-btn:focus,
.sketch-style6 .sketch-style6-c585858 .pt-btn:focus {
  color: #ffffff;
  background-color: #a11445;
  border-color: #464646;
}
.sketch-style6-c585858 .pt-btn:hover:before,
.sketch-style6 .sketch-style6-c585858 .pt-btn:hover:before,
.sketch-style6-c585858 .pt-btn:focus:before,
.sketch-style6 .sketch-style6-c585858 .pt-btn:focus:before {
  border-color: #464646;
}
.sketch-style6-c585858 .pt-btn:hover:after,
.sketch-style6 .sketch-style6-c585858 .pt-btn:hover:after,
.sketch-style6-c585858 .pt-btn:focus:after,
.sketch-style6 .sketch-style6-c585858 .pt-btn:focus:after {
  border-color: #a11445;
}
.sketch-style6-c585858 .pt-list,
.sketch-style6 .sketch-style6-c585858 .pt-list {
  color: #585858;
  background-color: #fff;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-list:before,
.sketch-style6 .sketch-style6-c585858 .pt-list:before {
  border-color: #585858;
}
.sketch-style6-c585858 .pt-list:after,
.sketch-style6 .sketch-style6-c585858 .pt-list:after {
  border-color: #fff;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #ffffff;
}
.sketch-style6-c585858 .pt-selected .pt-back,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-back,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-back {
  background-color: #fff;
  border-color: #7e7e7e;
}
.sketch-style6-c585858 .pt-selected .pt-title,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-title,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-title {
  color: #fff;
  background-color: #a11445;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-selected .pt-title:before,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-title:before,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-title:before {
  border-color: #252525;
}
.sketch-style6-c585858 .pt-selected .pt-title:after,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-title:after,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-title:after {
  border-color: #46091e;
}
.sketch-style6-c585858 .pt-selected .pt-price,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-price,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-price {
  color: #7e7e7e;
}
.sketch-style6-c585858 .pt-selected .pt-list,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-list,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-list {
  color: #fff;
  background-color: #a11445;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-selected .pt-list:before,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-list:before,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-list:before {
  border-color: #252525;
}
.sketch-style6-c585858 .pt-selected .pt-list:after,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-list:after,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-list:after {
  border-color: #46091e;
}
.sketch-style6-c585858 .pt-selected .pt-btn,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn {
  color: #fff;
  background-color: #a11445;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-selected .pt-btn:before,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:before,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:before {
  border-color: #252525;
}
.sketch-style6-c585858 .pt-selected .pt-btn:after,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:after,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:after {
  border-color: #46091e;
}
.sketch-style6-c585858 .pt-selected .pt-btn:hover,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:hover,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:hover,
.sketch-style6-c585858 .pt-selected .pt-btn:focus,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:focus,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:focus {
  color: #a11445;
  background-color: #ffffff;
  border-color: #a11445;
}
.sketch-style6-c585858 .pt-selected .pt-btn:hover:before,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:hover:before,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:hover:before,
.sketch-style6-c585858 .pt-selected .pt-btn:focus:before,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:focus:before,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus:before,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:focus:before {
  border-color: #46091e;
}
.sketch-style6-c585858 .pt-selected .pt-btn:hover:after,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:hover:after,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:hover:after,
.sketch-style6-c585858 .pt-selected .pt-btn:focus:after,
.sketch-style6 .sketch-style6-c585858 .pt-selected .pt-btn:focus:after,
.sketch-style6-c585858[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus:after,
.sketch-style6[class*='pt-animation-'] .sketch-style6-c585858.pt-col .pt-block:hover .pt-btn:focus:after {
  border-color: #cccccc;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-back,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-back {
  border-color: #d1d1d1;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-title,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-title {
  color: #585858;
  background-color: #fff;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:before,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:before,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-title:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-title:before {
  border-color: #585858;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:after,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:after,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-title:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-title:after {
  border-color: #fff;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-price,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-price {
  color: #585858;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-list,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-list {
  color: #585858;
  background-color: #fff;
  border-color: #585858;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:before,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:before,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-list:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-list:before {
  border-color: #585858;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:after,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:after,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-list:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-list:after {
  border-color: #fff;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn {
  background-color: #fff;
}
.sketch-style6-c585858 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:after,
.sketch-style6 .pt-cols .sketch-style6-c585858.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:after,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:after {
  border-color: #fff;
}
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-back,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-back {
  background-color: #fff;
}
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn {
  color: #585858;
  border-color: #585858;
}
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:before {
  border-color: #585858;
}
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:hover,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:focus {
  color: #ffffff;
  background-color: #a11445;
  border-color: #464646;
}
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:hover:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:hover:before,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:focus:before,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:focus:before {
  border-color: #464646;
}
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:hover:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:hover:after,
.sketch-style6-c585858[class*='pt-animation-']:hover .pt-selected .pt-btn:focus:after,
.sketch-style6[class*='pt-animation-']:hover .sketch-style6-c585858 .pt-selected .pt-btn:focus:after {
  border-color: #a11445;
}
