/*144e94:144e94-ffffff-666666-124787-144e94-144e94-ffffff-144e94-ffffff-103d75-06182d-ffffff-144e94-666666-124787-144e94-2c378b-ffffff-4668d9-ffffff-2b51d0*/
.rings-style4-c144e94 .pt-back,
.rings-style4 .rings-style4-c144e94 .pt-back {
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
  background-color: #fff;
}
.rings-style4-c144e94 .pt-title,
.rings-style4 .rings-style4-c144e94 .pt-title {
  color: #124787;
}
.rings-style4-c144e94 .pt-price,
.rings-style4 .rings-style4-c144e94 .pt-price {
  color: #144e94;
}
.rings-style4-c144e94 .pt-btn,
.rings-style4 .rings-style4-c144e94 .pt-btn {
  color: #fff;
  background-color: #144e94;
}
.rings-style4-c144e94 .pt-btn:hover,
.rings-style4 .rings-style4-c144e94 .pt-btn:hover,
.rings-style4-c144e94 .pt-btn:focus,
.rings-style4 .rings-style4-c144e94 .pt-btn:focus {
  color: #fff;
  background-color: #103d75;
}
.rings-style4-c144e94 .pt-list,
.rings-style4 .rings-style4-c144e94 .pt-list {
  color: #144e94;
}
.rings-style4-c144e94 .pt-selected .pt-back,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-back,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-back {
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
  background-color: #fff;
}
.rings-style4-c144e94 .pt-selected .pt-image,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-image,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-image,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-image {
  border-top-color: #144e94;
}
.rings-style4-c144e94 .pt-selected .pt-content:before,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-content:before,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-content:before,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-content:before {
  -webkit-box-shadow: inset 0px 105px 70px -70px rgba(20,78,148,0.75);
  box-shadow: inset 0px 105px 70px -70px rgba(20,78,148,0.75);
}
.rings-style4-c144e94 .pt-selected .pt-title,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-title,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-title {
  color: #124787;
}
.rings-style4-c144e94 .pt-selected .pt-price,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-price,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-price {
  color: #2c378b;
}
.rings-style4-c144e94 .pt-selected .pt-list,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-list,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-list {
  color: #144e94;
}
.rings-style4-c144e94 .pt-selected .pt-btn,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-btn,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-btn {
  background-color: #4668d9;
  color: #fff;
}
.rings-style4-c144e94 .pt-selected .pt-btn:hover,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-btn:hover,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-btn:hover,
.rings-style4-c144e94 .pt-selected .pt-btn:focus,
.rings-style4 .rings-style4-c144e94 .pt-selected .pt-btn:focus,
.rings-style4-c144e94[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.rings-style4[class*='pt-animation-'] .rings-style4-c144e94.pt-col .pt-block:hover .pt-btn:focus {
  color: #fff;
  background-color: #2b51d0;
}
.rings-style4-c144e94 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.rings-style4 .pt-cols .rings-style4-c144e94.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-back,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-back {
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
  background-color: #fff;
}
.rings-style4-c144e94 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.rings-style4 .pt-cols .rings-style4-c144e94.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-title,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-title {
  color: #124787;
}
.rings-style4-c144e94 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.rings-style4 .pt-cols .rings-style4-c144e94.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-price,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-price {
  color: #144e94;
}
.rings-style4-c144e94 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.rings-style4 .pt-cols .rings-style4-c144e94.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-list,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-list {
  color: #144e94;
}
.rings-style4-c144e94 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.rings-style4 .pt-cols .rings-style4-c144e94.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-btn,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-btn {
  color: #fff;
}
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-btn,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-btn {
  background-color: #144e94;
}
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-btn:hover,
.rings-style4-c144e94[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.rings-style4[class*='pt-animation-']:hover .rings-style4-c144e94 .pt-selected .pt-btn:focus {
  color: #fff;
  background-color: #103d75;
}
