/*0ec173-4d85ae:0ec173-0ec173-4d85ae-233039-ffffff-0fc074-ededed-0c9f60-ffffff-0fc074-ffffff-03301c-666666-ffffff-0fc074-ededed-0c9f60-ffffff-ffffff-ffffff*/
.gradient-style7-c0ec173 .pt-back:before,
.gradient-style7 .gradient-style7-c0ec173 .pt-back:before {
  background-color: #233039;
}
.gradient-style7-c0ec173 .pt-back:after,
.gradient-style7 .gradient-style7-c0ec173 .pt-back:after {
  background: #4d85ae;
  background: -webkit-linear-gradient(top, #0ec173, #4d85ae);
  background: -moz-linear-gradient(top, #0ec173, #4d85ae);
  background: linear-gradient(to bottom, #0ec173, #4d85ae);
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
}
.gradient-style7-c0ec173 .pt-title,
.gradient-style7 .gradient-style7-c0ec173 .pt-title {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-price,
.gradient-style7 .gradient-style7-c0ec173 .pt-price {
  color: #0fc074;
}
.gradient-style7-c0ec173 .pt-btn,
.gradient-style7 .gradient-style7-c0ec173 .pt-btn {
  color: #fff;
  background-color: #0fc074;
}
.gradient-style7-c0ec173 .pt-btn:hover,
.gradient-style7 .gradient-style7-c0ec173 .pt-btn:hover,
.gradient-style7-c0ec173 .pt-btn:focus,
.gradient-style7 .gradient-style7-c0ec173 .pt-btn:focus {
  color: #ededed;
  background-color: #0c9f60;
}
.gradient-style7-c0ec173 .pt-list,
.gradient-style7 .gradient-style7-c0ec173 .pt-list {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back:before,
.gradient-style7 .pt-cols .gradient-style7-c0ec173.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back:before {
  background-color: #364b59;
}
.gradient-style7-c0ec173 .pt-selected .pt-title,
.gradient-style7 .gradient-style7-c0ec173 .pt-selected .pt-title,
.gradient-style7-c0ec173[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.gradient-style7[class*='pt-animation-'] .gradient-style7-c0ec173.pt-col .pt-block:hover .pt-title {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-selected .pt-price,
.gradient-style7 .gradient-style7-c0ec173 .pt-selected .pt-price,
.gradient-style7-c0ec173[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.gradient-style7[class*='pt-animation-'] .gradient-style7-c0ec173.pt-col .pt-block:hover .pt-price {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-selected .pt-list,
.gradient-style7 .gradient-style7-c0ec173 .pt-selected .pt-list,
.gradient-style7-c0ec173[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.gradient-style7[class*='pt-animation-'] .gradient-style7-c0ec173.pt-col .pt-block:hover .pt-list {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-selected .pt-btn,
.gradient-style7 .gradient-style7-c0ec173 .pt-selected .pt-btn,
.gradient-style7-c0ec173[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.gradient-style7[class*='pt-animation-'] .gradient-style7-c0ec173.pt-col .pt-block:hover .pt-btn {
  background-color: #0fc074;
  color: #fff;
}
.gradient-style7-c0ec173 .pt-selected .pt-btn:hover,
.gradient-style7 .gradient-style7-c0ec173 .pt-selected .pt-btn:hover,
.gradient-style7-c0ec173[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.gradient-style7[class*='pt-animation-'] .gradient-style7-c0ec173.pt-col .pt-block:hover .pt-btn:hover,
.gradient-style7-c0ec173 .pt-selected .pt-btn:focus,
.gradient-style7 .gradient-style7-c0ec173 .pt-selected .pt-btn:focus,
.gradient-style7-c0ec173[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.gradient-style7[class*='pt-animation-'] .gradient-style7-c0ec173.pt-col .pt-block:hover .pt-btn:focus {
  color: #ededed;
  background-color: #0c9f60;
}
.gradient-style7-c0ec173 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.gradient-style7 .pt-cols .gradient-style7-c0ec173.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-title,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-title {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.gradient-style7 .pt-cols .gradient-style7-c0ec173.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-price,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-price {
  color: #0fc074;
}
.gradient-style7-c0ec173 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.gradient-style7 .pt-cols .gradient-style7-c0ec173.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-list,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-list {
  color: #fff;
}
.gradient-style7-c0ec173 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.gradient-style7 .pt-cols .gradient-style7-c0ec173.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-btn,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-btn {
  color: #fff;
}
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-btn,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-btn {
  background-color: #0fc074;
}
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-btn:hover,
.gradient-style7-c0ec173[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.gradient-style7[class*='pt-animation-']:hover .gradient-style7-c0ec173 .pt-selected .pt-btn:focus {
  color: #ededed;
  background-color: #0c9f60;
}
