/*3499fe:3499fe*/
.smoozy-style2-c3499fe .pt-head:after,
.smoozy-style2 .smoozy-style2-c3499fe .pt-head:after {
  background-color: #3499fe;
}
.smoozy-style2-c3499fe .pt-title,
.smoozy-style2 .smoozy-style2-c3499fe .pt-title {
  color: #3499fe;
}
.smoozy-style2-c3499fe .pt-btn,
.smoozy-style2 .smoozy-style2-c3499fe .pt-btn {
  background-color: #3499fe;
}
.smoozy-style2-c3499fe .pt-list .pt-list-sub-text,
.smoozy-style2 .smoozy-style2-c3499fe .pt-list .pt-list-sub-text {
  color: #3499fe;
}
