/*9400d3:9400d3*/
.smoozy-style2-c9400d3 .pt-head:after,
.smoozy-style2 .smoozy-style2-c9400d3 .pt-head:after {
  background-color: #9400d3;
}
.smoozy-style2-c9400d3 .pt-title,
.smoozy-style2 .smoozy-style2-c9400d3 .pt-title {
  color: #9400d3;
}
.smoozy-style2-c9400d3 .pt-btn,
.smoozy-style2 .smoozy-style2-c9400d3 .pt-btn {
  background-color: #9400d3;
}
.smoozy-style2-c9400d3 .pt-list .pt-list-sub-text,
.smoozy-style2 .smoozy-style2-c9400d3 .pt-list .pt-list-sub-text {
  color: #9400d3;
}
