/*c44767:c44767*/
.smoozy-style2-cc44767 .pt-head:after,
.smoozy-style2 .smoozy-style2-cc44767 .pt-head:after {
  background-color: #c44767;
}
.smoozy-style2-cc44767 .pt-title,
.smoozy-style2 .smoozy-style2-cc44767 .pt-title {
  color: #c44767;
}
.smoozy-style2-cc44767 .pt-btn,
.smoozy-style2 .smoozy-style2-cc44767 .pt-btn {
  background-color: #c44767;
}
.smoozy-style2-cc44767 .pt-list .pt-list-sub-text,
.smoozy-style2 .smoozy-style2-cc44767 .pt-list .pt-list-sub-text {
  color: #c44767;
}
