/*dc143c:dc143c*/
.smoozy-style2-cdc143c .pt-head:after,
.smoozy-style2 .smoozy-style2-cdc143c .pt-head:after {
  background-color: #dc143c;
}
.smoozy-style2-cdc143c .pt-title,
.smoozy-style2 .smoozy-style2-cdc143c .pt-title {
  color: #dc143c;
}
.smoozy-style2-cdc143c .pt-btn,
.smoozy-style2 .smoozy-style2-cdc143c .pt-btn {
  background-color: #dc143c;
}
.smoozy-style2-cdc143c .pt-list .pt-list-sub-text,
.smoozy-style2 .smoozy-style2-cdc143c .pt-list .pt-list-sub-text {
  color: #dc143c;
}
