/*ed4d13:ed4d13*/
.smoozy-style2-ced4d13 .pt-head:after,
.smoozy-style2 .smoozy-style2-ced4d13 .pt-head:after {
  background-color: #ed4d13;
}
.smoozy-style2-ced4d13 .pt-title,
.smoozy-style2 .smoozy-style2-ced4d13 .pt-title {
  color: #ed4d13;
}
.smoozy-style2-ced4d13 .pt-btn,
.smoozy-style2 .smoozy-style2-ced4d13 .pt-btn {
  background-color: #ed4d13;
}
.smoozy-style2-ced4d13 .pt-list .pt-list-sub-text,
.smoozy-style2 .smoozy-style2-ced4d13 .pt-list .pt-list-sub-text {
  color: #ed4d13;
}
