/*333333:333333*/
.rmsbpt-flat-c333333,
.rmsbpt-flat .rmsbpt-flat-c333333 {
  color: #4d4d4d;
}
.rmsbpt-flat-c333333 .pt-block,
.rmsbpt-flat .rmsbpt-flat-c333333 .pt-block {
  background: #333333;
  border-color: #4d4d4d;
}
.rmsbpt-flat-c333333 .pt-head,
.rmsbpt-flat .rmsbpt-flat-c333333 .pt-head {
  background: #333333;
}
.rmsbpt-flat-c333333 .pt-list-container:before,
.rmsbpt-flat .rmsbpt-flat-c333333 .pt-list-container:before {
  background: #4d4d4d;
}
.rmsbpt-flat-c333333 .pt-price-container,
.rmsbpt-flat .rmsbpt-flat-c333333 .pt-price-container {
  background: #4d4d4d;
}
.rmsbpt-flat-c333333 .pt-selected .pt-text,
.rmsbpt-flat .rmsbpt-flat-c333333 .pt-selected .pt-text,
.rmsbpt-flat-c333333.pt-animation-default .pt-col .pt-block:hover .pt-text,
.rmsbpt-flat.pt-animation-default .rmsbpt-flat-c333333.pt-col .pt-block:hover .pt-text,
.rmsbpt-flat-c333333.pt-animation-1 .pt-selected .pt-text,
.rmsbpt-flat.pt-animation-1 .rmsbpt-flat-c333333 .pt-selected .pt-text,
.rmsbpt-flat-c333333.pt-animation-1 .pt-col .pt-block:hover .pt-text,
.rmsbpt-flat.pt-animation-1 .rmsbpt-flat-c333333.pt-col .pt-block:hover .pt-text,
.rmsbpt-flat-c333333.pt-animation-2 .pt-text,
.rmsbpt-flat.pt-animation-2 .rmsbpt-flat-c333333 .pt-text {
  text-shadow: 0 0 6px #000000;
}
