/*ed4d13:ed4d13*/
.rmsbpt-flat-ced4d13,
.rmsbpt-flat .rmsbpt-flat-ced4d13 {
  color: #f17142;
}
.rmsbpt-flat-ced4d13 .pt-block,
.rmsbpt-flat .rmsbpt-flat-ced4d13 .pt-block {
  background: #ed4d13;
  border-color: #f17142;
}
.rmsbpt-flat-ced4d13 .pt-head,
.rmsbpt-flat .rmsbpt-flat-ced4d13 .pt-head {
  background: #ed4d13;
}
.rmsbpt-flat-ced4d13 .pt-list-container:before,
.rmsbpt-flat .rmsbpt-flat-ced4d13 .pt-list-container:before {
  background: #f17142;
}
.rmsbpt-flat-ced4d13 .pt-price-container,
.rmsbpt-flat .rmsbpt-flat-ced4d13 .pt-price-container {
  background: #f17142;
}
.rmsbpt-flat-ced4d13 .pt-selected .pt-text,
.rmsbpt-flat .rmsbpt-flat-ced4d13 .pt-selected .pt-text,
.rmsbpt-flat-ced4d13.pt-animation-default .pt-col .pt-block:hover .pt-text,
.rmsbpt-flat.pt-animation-default .rmsbpt-flat-ced4d13.pt-col .pt-block:hover .pt-text,
.rmsbpt-flat-ced4d13.pt-animation-1 .pt-selected .pt-text,
.rmsbpt-flat.pt-animation-1 .rmsbpt-flat-ced4d13 .pt-selected .pt-text,
.rmsbpt-flat-ced4d13.pt-animation-1 .pt-col .pt-block:hover .pt-text,
.rmsbpt-flat.pt-animation-1 .rmsbpt-flat-ced4d13.pt-col .pt-block:hover .pt-text,
.rmsbpt-flat-ced4d13.pt-animation-2 .pt-text,
.rmsbpt-flat.pt-animation-2 .rmsbpt-flat-ced4d13 .pt-text {
  text-shadow: 0 0 6px #8f2e0b;
}
