/* Responsive Multi Style Bootstrap Pricing Tables v2.1 */
@font-face {
  font-family: 'Alegreyasans';
  src: url("../fonts/Alegreyasans/alegreyasans-regular-webfont.eot");
  src: url("../fonts/Alegreyasans/alegreyasans-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Alegreyasans/alegreyasans-regular-webfont.woff2") format('woff2'), url("../fonts/Alegreyasans/alegreyasans-regular-webfont.woff") format('woff'), url("../fonts/Alegreyasans/alegreyasans-regular-webfont.ttf") format('truetype'), url("../fonts/Alegreyasans/alegreyasans-regular-webfont.svg#Alegreyasans") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreyasans-light';
  src: url("../fonts/Alegreyasans/alegreyasans-light-webfont.eot");
  src: url("../fonts/Alegreyasans/alegreyasans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Alegreyasans/alegreyasans-light-webfont.woff2") format('woff2'), url("../fonts/Alegreyasans/alegreyasans-light-webfont.woff") format('woff'), url("../fonts/Alegreyasans/alegreyasans-light-webfont.ttf") format('truetype'), url("../fonts/Alegreyasans/alegreyasans-light-webfont.svg#Alegreyasans-light") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreyasans-medium';
  src: url("../fonts/Alegreyasans/alegreyasans-medium-webfont.eot");
  src: url("../fonts/Alegreyasans/alegreyasans-medium-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Alegreyasans/alegreyasans-medium-webfont.woff2") format('woff2'), url("../fonts/Alegreyasans/alegreyasans-medium-webfont.woff") format('woff'), url("../fonts/Alegreyasans/alegreyasans-medium-webfont.ttf") format('truetype'), url("../fonts/Alegreyasans/alegreyasans-medium-webfont.svg#Alegreyasans-medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.rmsbpt-flat .pt-block {
  margin: 0 0 30px 0;
  position: relative;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.rmsbpt-flat button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.rmsbpt-flat .pt-btn {
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.rmsbpt-flat .pt-btn[disabled],
.rmsbpt-flat span.pt-btn {
  cursor: default;
}
.rmsbpt-flat {
  margin-top: 30px;
}
.rmsbpt-flat *,
.rmsbpt-flat *:before,
.rmsbpt-flat *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rmsbpt-flat .pt-cols {
  zoom: 1;
}
.rmsbpt-flat .pt-cols:before,
.rmsbpt-flat .pt-cols:after {
  content: "";
  display: table;
}
.rmsbpt-flat .pt-cols:after {
  clear: both;
}
.rmsbpt-flat .pt-cols {
  text-align: center;
  font-size: 0;
}
.rmsbpt-flat .pt-cols .pt-col {
  display: inline-block;
  min-width: 200px;
  max-width: 330px;
  width: 100%;
  vertical-align: middle;
}
@media (min-width: 480px) {
  .rmsbpt-flat .pt-cols {
    margin: 0 -15px;
  }
  .rmsbpt-flat .pt-cols .pt-col {
    min-width: 230px;
    padding: 0 15px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .rmsbpt-flat .pt-cols-3 .pt-col {
    width: 33.3333%;
  }
}
@media (min-width: 992px) {
  .rmsbpt-flat .pt-cols-4 .pt-col {
    width: 25%;
  }
}
.rmsbpt-flat .pt-badge {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 0 10px;
  background: #c0c0c0;
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  height: 25px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.rmsbpt-flat .pt-popular {
  background: #39b54a;
  border-bottom: 1px solid #44c455;
  border-left: 1px solid #44c455;
}
.rmsbpt-flat .pt-discount {
  background: #ff931e;
  border-bottom: 1px solid #ff9f38;
  border-left: 1px solid #ff9f38;
}
.rmsbpt-flat,
.rmsbpt-flat .pt-block {
  font-family: 'ABeeZee';
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  text-align: center;
}
.rmsbpt-flat .pt-block {
  display: block;
  text-align: center;
  padding-bottom: 8px;
  outline: 0 none;
  text-decoration: none;
}
.rmsbpt-flat .pt-block {
  background: #333;
  border: 1px solid #4d4d4d;
  border-radius: 2px;
  color: #fff;
}
.rmsbpt-flat .pt-head {
  display: block;
  padding: 25px 0 15px;
  position: relative;
  background: #333;
}
.rmsbpt-flat .pt-title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}
.rmsbpt-flat .pt-sub-title {
  display: block;
  font-size: 21px;
  line-height: 22px;
  color: #fff;
  padding-top: 5px;
  font-family: 'Alegreyasans-light';
}
.rmsbpt-flat .pt-sub-text {
  display: block;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 24px;
  padding-top: 15px;
  font-family: 'Alegreyasans';
}
.rmsbpt-flat .pt-text {
  display: block;
  font-size: 24px;
  line-height: 40px;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.rmsbpt-flat .pt-tooltip-show-text .pt-tooltip-show {
  border-bottom: 1px solid;
}
.rmsbpt-flat .pt-list-container {
  display: block;
  position: relative;
  z-index: 1;
}
.rmsbpt-flat .pt-list-container:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background: #4d4d4d;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.rmsbpt-flat .pt-list {
  display: inline-block;
  text-align: left;
  padding: 10px 0;
}
.rmsbpt-flat .pt-list .pt-list-item {
  display: block;
  padding: 8px 0;
}
.rmsbpt-flat .pt-list .fa {
  width: 25px;
  font-size: 21px;
}
.rmsbpt-flat .pt-list .fa.show-hint {
  margin-left: 5px;
  width: auto;
  font-size: 14px;
  position: relative;
  top: -2px;
}
.rmsbpt-flat .pt-list .pt-active {
  color: #39b54a;
}
.rmsbpt-flat .pt-list .pt-disabled {
  color: #f00;
}
.rmsbpt-flat .pt-price-container {
  display: block;
  padding: 15px 0 10px;
}
.rmsbpt-flat .pt-price-container {
  background: #4d4d4d;
}
.rmsbpt-flat .pt-price-block {
  height: 76px;
  color: #fff;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  display: inline-block;
  position: relative;
}
.rmsbpt-flat .pt-price-block span {
  vertical-align: middle;
}
.rmsbpt-flat .pt-price-block .pt-currency {
  position: absolute;
  top: 20px;
  right: 100%;
  font-size: 32px;
  line-height: 34px;
  font-family: 'Alegreyasans';
}
.rmsbpt-flat .pt-price-block .pt-price-main {
  font-size: 84px;
  line-height: 64px;
  font-family: 'Alegreyasans-medium';
}
.rmsbpt-flat .pt-price-block .pt-price-rest {
  position: absolute;
  left: 100%;
  top: 14px;
  font-size: 32px;
  line-height: 34px;
  text-decoration: underline;
  font-family: 'Alegreyasans';
}
.rmsbpt-flat .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) {
  cursor: default;
}
.rmsbpt-flat .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-text {
  font-size: 24px;
  text-shadow: none;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -ms-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  color: #c0c0c0;
}
.rmsbpt-flat .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list-container {
  z-index: 1;
}
.rmsbpt-flat .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list-container:before {
  height: 0;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.rmsbpt-flat .pt-selected,
.rmsbpt-flat.pt-animation-default .pt-col .pt-block:hover {
  color: #fff;
}
.rmsbpt-flat .pt-selected .pt-text,
.rmsbpt-flat.pt-animation-default .pt-col .pt-block:hover .pt-text {
  font-size: 30px;
  text-shadow: 0 0 6px #000;
  -webkit-transition: all 0.1s ease 0.3s;
  -moz-transition: all 0.1s ease 0.3s;
  -o-transition: all 0.1s ease 0.3s;
  -ms-transition: all 0.1s ease 0.3s;
  transition: all 0.1s ease 0.3s;
}
.rmsbpt-flat .pt-selected .pt-list-container,
.rmsbpt-flat.pt-animation-default .pt-col .pt-block:hover .pt-list-container {
  z-index: 2;
}
.rmsbpt-flat .pt-selected .pt-list-container:before,
.rmsbpt-flat.pt-animation-default .pt-col .pt-block:hover .pt-list-container:before {
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rmsbpt-flat.pt-animation-default:hover .pt-selected {
  color: #fff;
}
.rmsbpt-flat.pt-animation-default:hover .pt-selected .pt-text {
  font-size: 24px;
  text-shadow: none;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.rmsbpt-flat.pt-animation-default:hover .pt-selected .pt-list-container {
  z-index: 1;
}
.rmsbpt-flat.pt-animation-default:hover .pt-selected .pt-list-container:before {
  height: 0;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.rmsbpt-flat.pt-animation-1 .pt-list-container:before {
  height: 0;
}
.rmsbpt-flat.pt-animation-1 .pt-text {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rmsbpt-flat.pt-animation-1 .pt-selected .pt-text,
.rmsbpt-flat.pt-animation-1 .pt-col .pt-block:hover .pt-text {
  font-size: 30px;
  text-shadow: 0 0 6px #000;
}
.rmsbpt-flat.pt-animation-1:hover .pt-selected .pt-text {
  font-size: 24px;
  text-shadow: none;
}
.rmsbpt-flat.pt-animation-2 .pt-list-container {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rmsbpt-flat.pt-animation-2 .pt-text {
  font-size: 24px;
  text-shadow: 0 0 6px #000;
}
.rmsbpt-flat.pt-animation-2 .pt-selected .pt-list-container,
.rmsbpt-flat.pt-animation-2 .pt-col .pt-block:hover .pt-list-container {
  z-index: 2;
}
.rmsbpt-flat.pt-animation-2 .pt-selected .pt-list-container:before,
.rmsbpt-flat.pt-animation-2 .pt-col .pt-block:hover .pt-list-container:before {
  height: 100%;
}
.rmsbpt-flat.pt-animation-2:hover .pt-selected .pt-list-container {
  z-index: 1;
}
.rmsbpt-flat.pt-animation-2:hover .pt-selected .pt-list-container:before {
  height: 0;
}
.pt-content-loader.ptcl-rmsbpt-flat{display:block}.pt-content-loader.ptcl-rmsbpt-flat+.pt-content-loader-bar{display:none}
