/* Sketch - Responsive Pricing Tables v1.0 */
.sketch-style6 {
  margin-top: 30px;
}
.sketch-style6,
.sketch-style6 .pt-block {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  font-weight: 300;
  text-align: left;
  cursor: default;
}
.sketch-style6 *,
.sketch-style6 *:before,
.sketch-style6 *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sketch-style6 .pt-block {
  padding: 17px 20px;
  position: relative;
}
.sketch-style6 .pt-block:after {
  content: "";
  display: block;
  clear: both;
}
.sketch-style6 .pt-block > * {
  position: relative;
}
.sketch-style6 .pt-block > :not(.pt-btn):last-child {
  margin-bottom: 0;
}
.sketch-style6 .pt-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sketch-style6 .pt-title {
  color: #939393;
  font-size: 20px;
  line-height: 1.24;
}
.sketch-style6 .pt-price {
  color: #939393;
}
.sketch-style6 .pt-btn {
  color: #939393;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none;
}
.sketch-style6 .pt-btn:hover,
.sketch-style6 .pt-btn:focus {
  color: #818181;
}
.sketch-style6 .pt-tooltip-show-text .pt-tooltip-show {
  border-bottom: 1px solid;
}
.sketch-style6 .pt-list {
  clear: both;
  color: #939393;
  margin: 0;
  padding: 0;
}
.sketch-style6 .pt-list li {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}
@-webkit-keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  30%, 70% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  30%, 70% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@-webkit-keyframes rotate {
  0%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30%, 70% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
@keyframes rotate {
  0%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30%, 70% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
.sketch-style6[class*='pt-animation-'] .pt-col:nth-child(n) .pt-block.pt-not-available {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.sketch-style6.pt-animation-1 .pt-block:hover {
  -webkit-animation: wobble 0.4s;
  -moz-animation: wobble 0.4s;
  animation: wobble 0.4s;
}
.sketch-style6.pt-animation-2 .pt-block:hover {
  -webkit-animation: rotate 0.4s;
  -moz-animation: rotate 0.4s;
  animation: rotate 0.4s;
}
.sketch-style6 .pt-cols {
  text-align: center;
  font-size: 0;
}
.sketch-style6 .pt-cols .pt-col {
  display: inline-block;
  min-width: 200px;
  max-width: 330px;
  width: 100%;
  vertical-align: middle;
}
@media (min-width: 480px) {
  .sketch-style6 .pt-cols {
    margin: 0 -15px;
  }
  .sketch-style6 .pt-cols .pt-col {
    min-width: 230px;
    padding: 0 15px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .sketch-style6 .pt-cols-3 .pt-col {
    width: 33.3333%;
  }
}
@media (min-width: 992px) {
  .sketch-style6 .pt-cols-4 .pt-col {
    width: 25%;
  }
}
.sketch-style6 .pt-block {
  margin: 0 0 30px 0;
}
.sketch-style6 .pt-back {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
}
.sketch-style6 .pt-title {
  background-color: #fff;
  border: 3px solid #939393;
  border-radius: 10px 0 0 10px;
  padding: 7px 22px 7px 7px;
  margin: 0 -30px 16px 15px;
  text-align: right;
}
.sketch-style6 .pt-title:before {
  display: block;
  content: "";
  position: absolute;
  right: -3px;
  bottom: -9px;
  border-top: 3px solid #939393;
  border-right: 5px solid transparent !important;
  border-bottom: 3px solid transparent !important;
  border-left: 5px solid #939393;
}
.sketch-style6 .pt-title:after {
  display: block;
  content: "";
  position: absolute;
  right: 3px;
  bottom: -5px;
  border-top: 1px solid #fff;
  border-right: 2px solid transparent !important;
  border-bottom: 1px solid transparent !important;
  border-left: 2px solid #fff;
}
.sketch-style6 .pt-price {
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  margin: 0 0 12px 0;
}
.sketch-style6 .pt-btn {
  background-color: #fff;
  border: 3px solid #939393;
  display: block;
  border-radius: 21px 0 0 21px;
  padding: 4px 26px;
  margin: 0 -30px 8px 30px;
  text-align: center;
}
.sketch-style6 .pt-btn:before {
  display: block;
  content: "";
  position: absolute;
  top: -9px;
  right: -3px;
  border-top: 3px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-bottom: 3px solid #939393;
  border-left: 5px solid #939393;
}
.sketch-style6 .pt-btn:after {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  right: 3px;
  border-top: 1px solid transparent !important;
  border-right: 2px solid transparent !important;
  border-bottom: 1px solid #fff;
  border-left: 2px solid #fff;
}
.sketch-style6 .pt-btn:hover,
.sketch-style6 .pt-btn:focus {
  background-color: #fff;
  border-color: #818181;
}
.sketch-style6 .pt-btn:hover:before,
.sketch-style6 .pt-btn:focus:before {
  border-color: #818181;
}
.sketch-style6 .pt-btn:hover:after,
.sketch-style6 .pt-btn:focus:after {
  border-color: #fff;
}
.sketch-style6 .pt-list {
  background-color: #fff;
  border: 3px solid #939393;
  border-radius: 0 10px 10px 0;
  padding: 4px 7px 4px 27px;
  margin: 0 0 26px -30px;
}
.sketch-style6 .pt-list:before {
  display: block;
  content: "";
  position: absolute;
  left: -3px;
  top: -9px;
  border-top: 3px solid transparent !important;
  border-right: 5px solid #939393;
  border-bottom: 3px solid #939393;
  border-left: 5px solid transparent !important;
}
.sketch-style6 .pt-list:after {
  display: block;
  content: "";
  position: absolute;
  left: 3px;
  top: -5px;
  border-top: 1px solid transparent !important;
  border-right: 2px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 2px solid transparent !important;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #fff;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:hover,
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:focus {
  color: #c6c6c6;
  border-color: #c6c6c6;
  cursor: default;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:before,
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:hover:before,
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:focus:before {
  border-color: #c6c6c6;
}
.sketch-style6 .pt-selected .pt-back,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back {
  background-color: #fff;
  border-color: #b9b9b9;
  border-width: 4px;
}
.sketch-style6 .pt-selected .pt-title,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title {
  color: #fff;
  background-color: #939393;
  border-color: #939393;
}
.sketch-style6 .pt-selected .pt-title:before,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title:before {
  border-color: #606060;
}
.sketch-style6 .pt-selected .pt-title:after,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title:after {
  border-color: #606060;
}
.sketch-style6 .pt-selected .pt-price,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price {
  color: #b9b9b9;
}
.sketch-style6 .pt-selected .pt-list,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list {
  color: #fff;
  background-color: #939393;
  border-color: #939393;
}
.sketch-style6 .pt-selected .pt-list:before,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list:before {
  border-color: #606060;
}
.sketch-style6 .pt-selected .pt-list:after,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list:after {
  border-color: #606060;
}
.sketch-style6 .pt-selected .pt-btn,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn {
  color: #fff;
  background-color: #939393;
  border-color: #939393;
}
.sketch-style6 .pt-selected .pt-btn:before,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:before {
  border-color: #606060;
}
.sketch-style6 .pt-selected .pt-btn:after,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:after {
  border-color: #606060;
}
.sketch-style6 .pt-selected .pt-btn:hover,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.sketch-style6 .pt-selected .pt-btn:focus,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus {
  color: #fff;
  background-color: #818181;
  border-color: #818181;
}
.sketch-style6 .pt-selected .pt-btn:hover:before,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover:before,
.sketch-style6 .pt-selected .pt-btn:focus:before,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus:before {
  border-color: #4e4e4e;
}
.sketch-style6 .pt-selected .pt-btn:hover:after,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover:after,
.sketch-style6 .pt-selected .pt-btn:focus:after,
.sketch-style6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus:after {
  border-color: #4e4e4e;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-back {
  border-color: #d1d1d1;
  border-width: 2px;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-title {
  color: #939393;
  background-color: #fff;
  border-color: #939393;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:before,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-title:before {
  border-color: #939393;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title:after,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-title:after {
  border-color: #fff;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-price {
  color: #939393;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-list {
  color: #939393;
  background-color: #fff;
  border-color: #939393;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:before,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-list:before {
  border-color: #939393;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list:after,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-list:after {
  border-color: #fff;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn {
  background-color: #fff;
}
.sketch-style6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:after,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:after {
  border-color: #fff;
}
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-back {
  background-color: #fff;
}
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn {
  color: #939393;
  border-color: #939393;
}
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:before {
  border-color: #939393;
}
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:focus {
  color: #818181;
  background-color: #fff;
  border-color: #818181;
}
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:hover:before,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:focus:before {
  border-color: #818181;
}
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:hover:after,
.sketch-style6[class*='pt-animation-']:hover .pt-selected .pt-btn:focus:after {
  border-color: #fff;
}
.sketch-style6[class*='pt-animation-'] .pt-back,
.sketch-style6[class*='pt-animation-'] .pt-title,
.sketch-style6[class*='pt-animation-'] .pt-title:before,
.sketch-style6[class*='pt-animation-'] .pt-title:after,
.sketch-style6[class*='pt-animation-'] .pt-price,
.sketch-style6[class*='pt-animation-'] .pt-btn,
.sketch-style6[class*='pt-animation-'] .pt-btn:before,
.sketch-style6[class*='pt-animation-'] .pt-btn:after,
.sketch-style6[class*='pt-animation-'] .pt-list,
.sketch-style6[class*='pt-animation-'] .pt-list:before,
.sketch-style6[class*='pt-animation-'] .pt-list:after {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pt-content-loader.ptcl-sketch-style6{display:block}.pt-content-loader.ptcl-sketch-style6+.pt-content-loader-bar{display:none}
