/*7ba428:7ba428*/
.crpt-exo-c7ba428 .pt-sub,
.crpt-exo .crpt-exo-c7ba428 .pt-sub {
  color: #808080;
}
.crpt-exo-c7ba428 .pt-header .pt-back,
.crpt-exo .crpt-exo-c7ba428 .pt-header .pt-back {
  -webkit-box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719, 0 -2px 2px -2px #4d6719;
  box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719, 0 -2px 2px -2px #4d6719;
  background-color: #7ba428;
}
.crpt-exo-c7ba428 .pt-btn:before,
.crpt-exo .crpt-exo-c7ba428 .pt-btn:before {
  -webkit-box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719, 0 -2px 2px -2px #4d6719;
  box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719, 0 -2px 2px -2px #4d6719;
  background-color: #7ba428;
}
.crpt-exo-c7ba428 .pt-selected .pt-content,
.crpt-exo .crpt-exo-c7ba428 .pt-selected .pt-content,
.crpt-exo-c7ba428.pt-animation-default .pt-cols .pt-block:hover .pt-content,
.crpt-exo.pt-animation-default .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-content {
  -webkit-box-shadow: 0 0 5px #6c9023;
  box-shadow: 0 0 5px #6c9023;
}
.crpt-exo-c7ba428 .pt-selected .pt-sub,
.crpt-exo .crpt-exo-c7ba428 .pt-selected .pt-sub,
.crpt-exo-c7ba428.pt-animation-default .pt-cols .pt-block:hover .pt-sub,
.crpt-exo.pt-animation-default .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-sub,
.crpt-exo-c7ba428.pt-animation-2 .pt-cols .pt-block:hover .pt-sub,
.crpt-exo.pt-animation-2 .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-sub {
  color: #cce699;
}
.crpt-exo-c7ba428 .pt-selected .pt-header .pt-back,
.crpt-exo .crpt-exo-c7ba428 .pt-selected .pt-header .pt-back,
.crpt-exo-c7ba428.pt-animation-default .pt-cols .pt-block:hover .pt-header .pt-back,
.crpt-exo.pt-animation-default .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-header .pt-back,
.crpt-exo-c7ba428.pt-animation-2 .pt-cols .pt-block:hover .pt-header .pt-back,
.crpt-exo.pt-animation-2 .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-header .pt-back {
  -webkit-box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719;
  box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719;
}
.crpt-exo-c7ba428 .pt-selected .pt-header:hover .pt-back,
.crpt-exo .crpt-exo-c7ba428 .pt-selected .pt-header:hover .pt-back,
.crpt-exo-c7ba428.pt-animation-default .pt-cols .pt-block:hover .pt-header:hover .pt-back,
.crpt-exo.pt-animation-default .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-header:hover .pt-back,
.crpt-exo-c7ba428.pt-animation-2 .pt-cols .pt-block:hover .pt-header:hover .pt-back,
.crpt-exo.pt-animation-2 .pt-cols .crpt-exo-c7ba428 .pt-block:hover .pt-header:hover .pt-back {
  -webkit-box-shadow: 25px 0 25px -25px #c2e184 inset, -25px 0 25px -25px #c2e184 inset, 0 2px 2px -2px #4d6719;
  box-shadow: 25px 0 25px -25px #c2e184 inset, -25px 0 25px -25px #c2e184 inset, 0 2px 2px -2px #4d6719;
}
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-title,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-title,
.crpt-exo-c7ba428.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-title,
.crpt-exo.pt-animation-1 .pt-cols .crpt-exo-c7ba428.pt-col .pt-block:hover .pt-title {
  color: #7ba428;
}
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-price-container,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-price-container,
.crpt-exo-c7ba428.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-price-container,
.crpt-exo.pt-animation-1 .pt-cols .crpt-exo-c7ba428.pt-col .pt-block:hover .pt-price-container,
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-btn-text,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-btn-text,
.crpt-exo-c7ba428.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-btn-text,
.crpt-exo.pt-animation-1 .pt-cols .crpt-exo-c7ba428.pt-col .pt-block:hover .pt-btn-text,
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-list,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-list,
.crpt-exo-c7ba428.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-list,
.crpt-exo.pt-animation-1 .pt-cols .crpt-exo-c7ba428.pt-col .pt-block:hover .pt-list,
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-footer,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-footer,
.crpt-exo-c7ba428.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-footer,
.crpt-exo.pt-animation-1 .pt-cols .crpt-exo-c7ba428.pt-col .pt-block:hover .pt-footer {
  -webkit-box-shadow: 0 0 5px #6c9023;
  box-shadow: 0 0 5px #6c9023;
}
.crpt-exo-c7ba428.pt-animation-default:hover .pt-selected .pt-sub,
.crpt-exo.pt-animation-default:hover .crpt-exo-c7ba428 .pt-selected .pt-sub,
.crpt-exo-c7ba428.pt-animation-2:hover .pt-selected .pt-sub,
.crpt-exo.pt-animation-2:hover .crpt-exo-c7ba428 .pt-selected .pt-sub,
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-sub,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-sub {
  color: #808080;
}
.crpt-exo-c7ba428.pt-animation-default:hover .pt-selected .pt-header .pt-back,
.crpt-exo.pt-animation-default:hover .crpt-exo-c7ba428 .pt-selected .pt-header .pt-back,
.crpt-exo-c7ba428.pt-animation-2:hover .pt-selected .pt-header .pt-back,
.crpt-exo.pt-animation-2:hover .crpt-exo-c7ba428 .pt-selected .pt-header .pt-back,
.crpt-exo-c7ba428.pt-animation-1 .pt-selected .pt-header .pt-back,
.crpt-exo.pt-animation-1 .crpt-exo-c7ba428 .pt-selected .pt-header .pt-back {
  -webkit-box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719, 0 -2px 2px -2px #4d6719;
  box-shadow: 50px 0 50px -50px #c2e184 inset, -50px 0 50px -50px #c2e184 inset, 0 2px 2px -2px #4d6719, 0 -2px 2px -2px #4d6719;
}
