/*2b7ec6-233039:2b7ec6-233039-666666-ffffff-2d3d49-ffffff-ffffff-ffffff-9dda34-8bc624-091b2a-2b7ec6-ffffff-ddecf8-2b7ec6-787878-ffffff-9dda34-8bc624*/
.flat-style6-c2b7ec6 .pt-back,
.flat-style6 .flat-style6-c2b7ec6 .pt-back {
  background-color: #233039;
}
.flat-style6-c2b7ec6 .pt-title,
.flat-style6 .flat-style6-c2b7ec6 .pt-title {
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-content,
.flat-style6 .flat-style6-c2b7ec6 .pt-content {
  background-color: #2d3d49;
}
.flat-style6-c2b7ec6 .pt-price,
.flat-style6 .flat-style6-c2b7ec6 .pt-price {
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-btn,
.flat-style6 .flat-style6-c2b7ec6 .pt-btn {
  background-color: #9dda34;
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-btn:hover,
.flat-style6 .flat-style6-c2b7ec6 .pt-btn:hover,
.flat-style6-c2b7ec6 .pt-btn:focus,
.flat-style6 .flat-style6-c2b7ec6 .pt-btn:focus {
  background-color: #8bc624;
}
.flat-style6-c2b7ec6 .pt-list,
.flat-style6 .flat-style6-c2b7ec6 .pt-list {
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.flat-style6 .pt-cols .flat-style6-c2b7ec6.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #364b59;
}
.flat-style6-c2b7ec6 .pt-selected .pt-back,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-back,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-back {
  background-color: #2b7ec6;
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
}
.flat-style6-c2b7ec6 .pt-selected .pt-title,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-title,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-title {
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-selected .pt-content,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-content,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-content,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-content {
  background-color: #ddecf8;
}
.flat-style6-c2b7ec6 .pt-selected .pt-price,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-price,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-price {
  color: #2b7ec6;
}
.flat-style6-c2b7ec6 .pt-selected .pt-list,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-list,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-list {
  color: #787878;
}
.flat-style6-c2b7ec6 .pt-selected .pt-btn,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-btn,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-btn {
  background-color: #9dda34;
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-selected .pt-btn:hover,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-btn:hover,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-btn:hover,
.flat-style6-c2b7ec6 .pt-selected .pt-btn:focus,
.flat-style6 .flat-style6-c2b7ec6 .pt-selected .pt-btn:focus,
.flat-style6-c2b7ec6[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.flat-style6[class*='pt-animation-'] .flat-style6-c2b7ec6.pt-col .pt-block:hover .pt-btn:focus {
  background-color: #8bc624;
}
.flat-style6-c2b7ec6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.flat-style6 .pt-cols .flat-style6-c2b7ec6.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-title,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-title {
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content,
.flat-style6 .pt-cols .flat-style6-c2b7ec6.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content,
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-content,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-content {
  background-color: #2d3d49;
}
.flat-style6-c2b7ec6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.flat-style6 .pt-cols .flat-style6-c2b7ec6.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-price,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-price {
  color: #fff;
}
.flat-style6-c2b7ec6 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.flat-style6 .pt-cols .flat-style6-c2b7ec6.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-list,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-list {
  color: #fff;
}
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-back,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-back {
  background-color: #233039;
}
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-btn,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-btn {
  background-color: #9dda34;
  color: #fff;
}
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-btn:hover,
.flat-style6-c2b7ec6[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c2b7ec6 .pt-selected .pt-btn:focus {
  background-color: #8bc624;
}
