/*54ab3e-ac598a:54ab3e-ac598a-54ab3e-ffffff-ffdff2-ac598a-ac598a-ffffff-802d5e-66244b-12250e-54ab3e-ffffff-e5f4e1-54ab3e-54ab3e-ffffff-1e452b-295e3b*/
.flat-style6-c54ab3e .pt-back,
.flat-style6 .flat-style6-c54ab3e .pt-back {
  background-color: #ac598a;
}
.flat-style6-c54ab3e .pt-title,
.flat-style6 .flat-style6-c54ab3e .pt-title {
  color: #fff;
}
.flat-style6-c54ab3e .pt-content,
.flat-style6 .flat-style6-c54ab3e .pt-content {
  background-color: #ffdff2;
}
.flat-style6-c54ab3e .pt-price,
.flat-style6 .flat-style6-c54ab3e .pt-price {
  color: #ac598a;
}
.flat-style6-c54ab3e .pt-btn,
.flat-style6 .flat-style6-c54ab3e .pt-btn {
  background-color: #802d5e;
  color: #fff;
}
.flat-style6-c54ab3e .pt-btn:hover,
.flat-style6 .flat-style6-c54ab3e .pt-btn:hover,
.flat-style6-c54ab3e .pt-btn:focus,
.flat-style6 .flat-style6-c54ab3e .pt-btn:focus {
  background-color: #66244b;
}
.flat-style6-c54ab3e .pt-list,
.flat-style6 .flat-style6-c54ab3e .pt-list {
  color: #ac598a;
}
.flat-style6-c54ab3e .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.flat-style6 .pt-cols .flat-style6-c54ab3e.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #bd7ba2;
}
.flat-style6-c54ab3e .pt-selected .pt-back,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-back,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-back {
  background-color: #54ab3e;
  -webkit-box-shadow: 0 0 10px 1px #54ab3e;
  box-shadow: 0 0 10px 1px #54ab3e;
}
.flat-style6-c54ab3e .pt-selected .pt-title,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-title,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-title {
  color: #fff;
}
.flat-style6-c54ab3e .pt-selected .pt-content,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-content,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-content,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-content {
  background-color: #e5f4e1;
}
.flat-style6-c54ab3e .pt-selected .pt-price,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-price,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-price {
  color: #54ab3e;
}
.flat-style6-c54ab3e .pt-selected .pt-list,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-list,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-list {
  color: #54ab3e;
}
.flat-style6-c54ab3e .pt-selected .pt-btn,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-btn,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-btn {
  background-color: #1e452b;
  color: #fff;
}
.flat-style6-c54ab3e .pt-selected .pt-btn:hover,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-btn:hover,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-btn:hover,
.flat-style6-c54ab3e .pt-selected .pt-btn:focus,
.flat-style6 .flat-style6-c54ab3e .pt-selected .pt-btn:focus,
.flat-style6-c54ab3e[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.flat-style6[class*='pt-animation-'] .flat-style6-c54ab3e.pt-col .pt-block:hover .pt-btn:focus {
  background-color: #295e3b;
}
.flat-style6-c54ab3e .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.flat-style6 .pt-cols .flat-style6-c54ab3e.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-title,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-title {
  color: #fff;
}
.flat-style6-c54ab3e .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content,
.flat-style6 .pt-cols .flat-style6-c54ab3e.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content,
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-content,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-content {
  background-color: #ffdff2;
}
.flat-style6-c54ab3e .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.flat-style6 .pt-cols .flat-style6-c54ab3e.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-price,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-price {
  color: #ac598a;
}
.flat-style6-c54ab3e .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.flat-style6 .pt-cols .flat-style6-c54ab3e.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-list,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-list {
  color: #ac598a;
}
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-back,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-back {
  background-color: #ac598a;
}
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-btn,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-btn {
  background-color: #802d5e;
  color: #fff;
}
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-btn:hover,
.flat-style6-c54ab3e[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.flat-style6[class*='pt-animation-']:hover .flat-style6-c54ab3e .pt-selected .pt-btn:focus {
  background-color: #66244b;
}
