/*b21325-233039:b21325-233039-666666-ffffff-2d3d49-ffffff-ffffff-ffffff-ff3521-fc1700-2e050a-b21325-ffffff-fbdade-b21325-787878-ffffff-ff3521-fc1700*/
.flat-style6-cb21325 .pt-back,
.flat-style6 .flat-style6-cb21325 .pt-back {
  background-color: #233039;
}
.flat-style6-cb21325 .pt-title,
.flat-style6 .flat-style6-cb21325 .pt-title {
  color: #fff;
}
.flat-style6-cb21325 .pt-content,
.flat-style6 .flat-style6-cb21325 .pt-content {
  background-color: #2d3d49;
}
.flat-style6-cb21325 .pt-price,
.flat-style6 .flat-style6-cb21325 .pt-price {
  color: #fff;
}
.flat-style6-cb21325 .pt-btn,
.flat-style6 .flat-style6-cb21325 .pt-btn {
  background-color: #ff3521;
  color: #fff;
}
.flat-style6-cb21325 .pt-btn:hover,
.flat-style6 .flat-style6-cb21325 .pt-btn:hover,
.flat-style6-cb21325 .pt-btn:focus,
.flat-style6 .flat-style6-cb21325 .pt-btn:focus {
  background-color: #fc1700;
}
.flat-style6-cb21325 .pt-list,
.flat-style6 .flat-style6-cb21325 .pt-list {
  color: #fff;
}
.flat-style6-cb21325 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back,
.flat-style6 .pt-cols .flat-style6-cb21325.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #364b59;
}
.flat-style6-cb21325 .pt-selected .pt-back,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-back,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-back,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-back {
  background-color: #b21325;
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
}
.flat-style6-cb21325 .pt-selected .pt-title,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-title,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-title,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-title {
  color: #fff;
}
.flat-style6-cb21325 .pt-selected .pt-content,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-content,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-content,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-content {
  background-color: #fbdade;
}
.flat-style6-cb21325 .pt-selected .pt-price,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-price,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-price,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-price {
  color: #b21325;
}
.flat-style6-cb21325 .pt-selected .pt-list,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-list,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-list,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-list {
  color: #787878;
}
.flat-style6-cb21325 .pt-selected .pt-btn,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-btn,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-btn {
  background-color: #ff3521;
  color: #fff;
}
.flat-style6-cb21325 .pt-selected .pt-btn:hover,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-btn:hover,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:hover,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-btn:hover,
.flat-style6-cb21325 .pt-selected .pt-btn:focus,
.flat-style6 .flat-style6-cb21325 .pt-selected .pt-btn:focus,
.flat-style6-cb21325[class*='pt-animation-'] .pt-col .pt-block:hover .pt-btn:focus,
.flat-style6[class*='pt-animation-'] .flat-style6-cb21325.pt-col .pt-block:hover .pt-btn:focus {
  background-color: #fc1700;
}
.flat-style6-cb21325 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.flat-style6 .pt-cols .flat-style6-cb21325.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-title,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-title {
  color: #fff;
}
.flat-style6-cb21325 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content,
.flat-style6 .pt-cols .flat-style6-cb21325.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content,
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-content,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-content {
  background-color: #2d3d49;
}
.flat-style6-cb21325 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.flat-style6 .pt-cols .flat-style6-cb21325.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price,
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-price,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-price {
  color: #fff;
}
.flat-style6-cb21325 .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.flat-style6 .pt-cols .flat-style6-cb21325.pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-list,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-list {
  color: #fff;
}
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-back,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-back {
  background-color: #233039;
}
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-btn,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-btn {
  background-color: #ff3521;
  color: #fff;
}
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-btn:hover,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-btn:hover,
.flat-style6-cb21325[class*='pt-animation-']:hover .pt-selected .pt-btn:focus,
.flat-style6[class*='pt-animation-']:hover .flat-style6-cb21325 .pt-selected .pt-btn:focus {
  background-color: #fc1700;
}
