/*186d31:186d31*/
.crpt-advanced-c186d31 .pt-btn,
.crpt-advanced .crpt-advanced-c186d31 .pt-btn {
  -webkit-box-shadow: 50px 0 50px -50px #2ac157 inset, -50px 0 50px -50px #2ac157 inset, 0 0 2px #0a2e15;
  box-shadow: 50px 0 50px -50px #2ac157 inset, -50px 0 50px -50px #2ac157 inset, 0 0 2px #0a2e15;
  background: #186d31;
}
.crpt-advanced-c186d31 .pt-btn:hover,
.crpt-advanced .crpt-advanced-c186d31 .pt-btn:hover,
.crpt-advanced-c186d31 .pt-btn:focus,
.crpt-advanced .crpt-advanced-c186d31 .pt-btn:focus {
  -webkit-box-shadow: 200px 0 200px -200px #2ac157 inset, -200px 0 200px -200px #2ac157 inset, 0 0 2px #0a2e15;
  box-shadow: 200px 0 200px -200px #2ac157 inset, -200px 0 200px -200px #2ac157 inset, 0 0 2px #0a2e15;
}
.crpt-advanced-c186d31 .pt-content,
.crpt-advanced .crpt-advanced-c186d31 .pt-content {
  border-color: #15602b;
}
.crpt-advanced-c186d31 .pt-content:before,
.crpt-advanced .crpt-advanced-c186d31 .pt-content:before {
  background: #15602b;
}
.crpt-advanced-c186d31 .pt-list,
.crpt-advanced .crpt-advanced-c186d31 .pt-list {
  color: #fff;
  border-color: #1b7a37;
  background-color: #186d31;
}
.crpt-advanced-c186d31 .pt-list .pt-list-item + .pt-list-item,
.crpt-advanced .crpt-advanced-c186d31 .pt-list .pt-list-item + .pt-list-item {
  border-color: #219744;
}
.crpt-advanced-c186d31 .pt-list .pt-list-item:hover,
.crpt-advanced .crpt-advanced-c186d31 .pt-list .pt-list-item:hover {
  background: #135827;
}
.crpt-advanced-c186d31 .pt-list-block {
  color: #fff;
  background: #219744;
  border-color: #1c823b;
}
.crpt-advanced-c186d31 .pt-list-block:before {
  border-bottom-color: #15602b;
}
.crpt-advanced-c186d31 .pt-selected .pt-title,
.crpt-advanced .crpt-advanced-c186d31 .pt-selected .pt-title,
.crpt-advanced-c186d31.pt-animation-default .pt-col .pt-block:hover .pt-title,
.crpt-advanced.pt-animation-default .crpt-advanced-c186d31.pt-col .pt-block:hover .pt-title,
.crpt-advanced-c186d31.pt-animation-1 .pt-col .pt-block:hover .pt-title,
.crpt-advanced.pt-animation-1 .crpt-advanced-c186d31.pt-col .pt-block:hover .pt-title {
  color: #186d31;
}
